/*Importing reset.css in case is didnt load from the html via link tag*/
@import url("/styles/reset.css");

body {
    position: relative;
}

/*Styling the header and everything in the header tag*/
#site-main-header {
    background-image: url('/images/header.jpg');
    padding-bottom: 5em;
}

.flex.header-nav {
    position: relative;
    justify-content: space-between;
    padding: 1.5em;
}

.header-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    opacity: 0.5;
}

.navigation-list.flex {
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.navigation-list.flex li a {
    padding: 0.3em 0.5em;
    font-weight: bold;
    font-size: .9rem;
    color: var(--white);
    text-transform: uppercase;
    transition: all .3s ease-in;
}

.navigation-list.flex li:hover a {
    color: var(--red);
    transition: all .3s ease-in;
}

.main-header-headings {
    margin-top: 5em;
    text-align: center;
}

.main-header-headings h1 {
    margin-bottom: 0.3em;
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 2.9rem;
    color: var(--white);
    text-transform: uppercase;
    opacity: 0;
    animation: slideUp .5s ease-in forwards;
    animation-delay: .5s;
}

.main-header-headings p {
    margin-bottom: 2.5em;
    font-weight: normal;
    font-size: 1.1rem;
    color: var(--white);
    opacity: 0;
    animation: slideUp .5s ease-in forwards;
    animation-delay: 1s;
}

.main-header-headings a.button {
    opacity: 0;
    animation: slideUp .5s ease-in forwards;
    animation-delay: 1.5s;
}

/*Styles for the features section and styles for the feature-cards*/
.feature-section.flex {
    padding: 5em 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature-card {
    margin-bottom: 4em;
    width: 30%;
    text-align: center;
}

.feature-card:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.feature-card img {
    margin-bottom: 1em;
}

.feature-card h3 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
}

.feature-card p {
    font-weight: normal;
    font-size: 1rem;
    color: var(--black);
}

/*Styling the work container, using grid for layout*/
.work-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.work-holder div {
    position: relative;
    cursor: pointer;
    transition: .3s all linear;
}

.work-holder div:hover .work-info {
    opacity: 1;
    transition: .3s all linear;
}

.work-holder div:hover .work-info p {
    animation: slideUp ease-in-out .4s forwards;
}

.work-holder div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba( 232, 69, 70, 0.7);
    color: var(--white);
    opacity: 0;
    transition: .3s all linear;
}

.work-info h3 {
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 1;
}

.work-info p {
    font-weight: normal;
    text-transform: capitalize;
    opacity: 0;
   
}

/*Styles for the team memeber's holder and their personal cards*/
.flex.team-members-holder {
    padding: 5em 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.team-member-card {
    width: 23%;
    color: var(--black);
}

.team-member-card img {
    margin-bottom: 0.8em;
}

.team-member-card h3 {
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: capitalize;
}

.team-member-card span {
    display: inline-block;
    margin-bottom: 0.8em;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    color: var(--red);
}

.team-member-card p {
    font-weight: normal;
    margin-bottom: 1.3em;
}

i.fab {
    display: inline-block;
    width: 10%;
    margin-right: 0.5em;
    padding: 0.5em 0;
    text-align: center;
    color: var(--gray);
    border: var(--gray) 1px solid;
}

/*Styling the testimonal holder, image and texts*/

#testimonals {
    background-color: var(--purple);
}

#testimonals img {
    width: 50%;
}

.testimonal-text-holder {
    width: 40%;
   padding: 5em 0 0 3em;
}

.testimonal-text-holder blockquote {
    margin-bottom: 0.5em;
    font-family: var(--font-cardo);
    font-size: 1.9rem;
    color: var(--white);
    transition: all .4s linear;
}

.testimonal-text-holder span {
    font-size: 0.8rem;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    transition: all .4s linear;
}

.carousel-controls {
    margin-top: 5em;
    text-align: center;
    color: var(--gray);
}

/*Styles for the download-section*/
.download-section {
    padding: 5em 0;
    text-align: center;
}

.download-section h2 {
    margin-bottom: 0.2em;
    font-weight: normal;
    font-size: 1.9rem;
    color: var(--black);
}

.download-section p {
    margin-bottom: 2em;
    font-weight: bold;
    color: var(--black);
}

/*Styling the footer and footer's content*/

#site-main-footer {
    background-color: var(--blue);
}

.footer-content.flex {
    justify-content: space-between;
    align-items: baseline;
    padding: 5em 0;
}

.footer-content.flex article {
    width: 30%;
    text-align: center;
}

.footer-content.flex article h3 {
    margin-bottom: .7em;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--white);
}

.footer-content.flex article p {
    font-weight: lighter;
    font-size: .9rem;
    color: var(--gray);
}

.footer-content.flex article i {
    color: var(--white);
    border: var(--white) 2px solid;
}

.author-information {
    padding: 2em 0;
    background-color: var(--dark-blue);
    text-align: center;
}

.author-information p {
    font-size: .9rem;
    color: var(--gray);
}

.author-information p i {
    color: var(--red);
}

.author-name {
    color: var(--white);
}

/*Styles for the secondary navigation*/

.secondary-navigation {
    position: fixed;
    top: -20%;
    left: 0;
    padding: 1.6em 0;
    width: 100%;
    background-color: var(--dark-blue);
    transition: all .5s ease-in;
}

.secondary-navigation .center.flex {
    justify-content: space-between;
}


/*Media queries*/

/* Simple animation for the work-images/gallery's text*/
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

 /*Media query for medium devices, like landscape tablets*/

@media only screen and (max-width: 1100px) {
    body {
        padding-top: 5em;
    }

    #site-main-header {
        display: none;
    } 

    .secondary-navigation {
        position: fixed;
        top: 0;
    }

    .secondary-navigation .center.flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*Selecting every child element*/
    .secondary-navigation .center.flex > * {
        width: 100%;
    }

    .secondary-navigation .center.flex > img {
        width: 50%;
        margin-bottom: 1em;
    }
 

    .feature-card {
        width: 50%;
    }

    .feature-card:nth-last-child(-n+3) {
        margin-bottom: 4em;
    }

    .work-holder {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1px;
    }

    .work-holder div {
        width: 100%;
    }

    .team-member-card {
        margin-bottom: 4em;
        width: 50%;
        text-align: center;
    }

    #testimonals {
        justify-content: center;
        padding: 2em 0;
    }

    #testimonals img {
        display: none;
    }

    .testimonal-text-holder {
        margin: 0;
        padding: 0;
        width: 80%;
    }

 }


/*Targeting extra small devices and just small devices, like 
small mobile phone, portrait tablet..*/

@media only screen and (max-width: 768px) {
    body {
        padding-top: 4em;
    }

    #site-main-header {
        display: none;
    } 
 
 
    .feature-card {
        width: 100%;
    }

    .feature-card:nth-last-child(-n+3) {
        margin-bottom: 4em;
    }

    .feature-card h3 {
        font-size: 1.5rem;
    }

    .feature-card p {
        font-size: 1.3rem;
    }

    .work-holder {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
    }

    .work-holder div {
        width: 100%;
    }

    .work-info h3 {
        font-size: 2rem;
    }

    .work-info p {
        font-size: 1.4rem;
    }

    .team-member-card {
        margin-bottom: 4em;
        width: 100%;
        text-align: center;
    }

    .team-member-card h3 {
        font-size: 1.9rem;
    }

    .team-member-card span {
        font-weight: bold;
    }

    #testimonals {
        justify-content: center;
        padding: 2em 0;
    }

    #testimonals img {
        display: none;
    }

    .testimonal-text-holder {
        margin: 0;
        padding: 0;
        width: 80%;
    }

    .footer-content.flex {
        padding: 2em 0;
    }

    .footer-content.flex article{
        width: 100%;
        margin-bottom: 3em;
    }

    .footer-content.flex article h3 {
        font-size: 1.7rem;
    }

    .footer-content.flex article p {
        font-size: 1.3rem;
    }

 }










